<!DOCTYPE html>
<html>
<title>{{ block('title') }} - Saitow AG Demo</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<body>
    <header>
        <ul class="nav">
            <li><a href="/home/">Home</a></li>
        </ul>
        <div class="clearfix"></div>
    </header>

    <div class="main">

        {{ block('main') }}
    </div>

    <footer>
        &copy; 2017 Viktor Panteleev for Saitow AG
    </footer>
    <script type="text/javascript" src="/js/filter.js"></script>
</body>
</html>