<!DOCTYPE html>
<html>
<title>{{ block('title') }} - Saitow AG Demo</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<body>
    <header>
        {% if is_logged == true %}
        <ul class="nav">
            <li><a href="/app/">Home</a></li>
            <li><a href="/app/assets">Search</a></li>
        </ul>
        {% endif %}
        <div class="clearfix"></div>
    </header>

    <div class="main">
        <h1>{{ block('title') }}</h1>
        {{ block('main') }}
    </div>

    <footer>
        &copy; 2017 Viktor Panteleev for Saitow AG
    </footer>
</body>
</html>