{% extends "_html.twig" %}

{% block title %}Search{% endblock %}

{% block main %}
    <div class="toolbar">
        {% include 'partials/filter.twig' with {
        'orderByOptions': orderByOptions,
        'term': searchTerm,
        'orderBy': orderBy
        } %}
    </div>
    <div class="product_area">
        <ul class="tires">
            {% for tire in tires %}
                {% include 'partials/product_box.twig' with {'item' : tire } %}
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
        {% if links|length > 1 %}
            <div class="pagination">
                <ul class="pages">
                    {% for link in links %}
                        <li>
                            {% if link['active'] %}
                                <span class="current">{{ link['name'] }}</span>
                            {% else %}
                                <a href="/search/{{ searchTerm }}/{{ link['link_suffix'] }}">
                                    {{ link['name'] }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
        {% endif %}
    </div>
{% endblock %}